.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
}

.first-part{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: rgb(0, 149, 255);
}

.second-part{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: black;
}

.container{
    max-width: 1170px;
    margin:  0 auto;
    padding: 0 15px;

    outline: 2px dashed red;
}

.post-about{
    padding-top: 200px;
    padding-bottom: 280px ;
}

.text-deteils{
    padding-top: 94px;
    padding-bottom: 94px ;
}

.post-imgs{
    padding-bottom: 94px;
}
    

.first-part-footer{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: rgb(0, 149, 255);
}

.second-part-footer{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: rgb(255, 255, 255);
}

body {
    font-family: "Roboto", serif;
}

.footer {
    background-color: rgb(41, 39, 39);
}

.colorfg {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(233, 227, 227);
}

.numbercol {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(152, 150, 150);
}

.team-portfolio{
    color: rgb(88, 87, 87)
}

.post-text{
    font-family: "Roboto", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color:  rgb(88, 87, 87)
}

.post-title{
    font-family: "Roboto", serif;
    font-size: 14px;
    font-weight: 700;
    color:  rgb(33, 33, 33)
}

.Emcol {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(152, 150, 150);
}

.Teamscol {
    background-color: rgb(244, 247, 255);
}

.post-about {
    color: white;
    background-color: rgb(41, 39, 39);
    text-align: center;
}

.post-about-text{
    font-family: "Roboto", serif;
    font-weight: 900;
    font-size: 44px;
}

.buttoncol {
    color: rgb(255, 255, 255);
    background-color: blue;
}

.navigation-link{
    font-family:"Roboto", serif;
    font-size: 14px ;
    font-weight: 500;
    color: rgb(21, 21, 21);
    text-decoration: none;
}

.navigation-link:hover{
    color: rgb(0, 110, 255);
}

.info-title{
    font-family: "Roboto", serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

.team-title{
    text-align: center;
}

.Emcol, .numbercol{
    text-decoration: none;
}

.form-btn{
    font-family:  "Roboto", serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: rgb(0, 174, 255);
}