.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Roboto", serif;
}

.footer {
    background-color: rgb(41, 39, 39);
}

.footer-subtitle {
    font-family: "Roboto", serif;
    color: rgb(45, 113, 223);
}

.colorfg {
    color: rgb(233, 227, 227);
}

.numbercol {
    color: rgb(152, 150, 150);
}

.team-portfolio{
    color: rgb(88, 87, 87)
}

.post-text{
    font-family: "Roboto", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color:  rgb(88, 87, 87)
}

.post-title{
    font-family: "Roboto", serif;
    font-size: 14px;
    font-weight: 700;
    color:  rgb(33, 33, 33)
}

.Emcol {
    color: rgb(152, 150, 150);
}

.Teamscol {
    background-color: rgb(244, 247, 255);
}

.post-about {
    color: white;
    background-color: rgb(41, 39, 39);
    text-align: center;
}

.post-about-text{
    font-family: "Roboto", serif;
}

.buttoncol {
    color: rgb(255, 255, 255);
    background-color: blue;
}

.first-title {
    color: rgb(11, 100, 255);
}

.navigation-link{
    color: rgb(21, 21, 21);
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-link:hover{
    color: rgb(0, 110, 255);
}

.info-title{
    text-align: center;
}

.team-title{
    text-align: center;
}

.Emcol, .numbercol{
    text-decoration: none;
}

.form-btn{
    font-family:  "Roboto", serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background-color: rgb(0, 174, 255);
}